[project]
	description = A tiny MVC web framework for Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Medvednikov (medvednikov)
[access "refs/for/refs/*"]
	read = group user/Alexander Medvednikov (medvednikov)
	push = group user/Alexander Medvednikov (medvednikov)
	label-Code-Review = -2..+2 group user/Alexander Medvednikov (medvednikov)
	label-Verified = -1..+1 group user/Alexander Medvednikov (medvednikov)
	rebase = group user/Alexander Medvednikov (medvednikov)
	removeReviewer = group user/Alexander Medvednikov (medvednikov)
	submit = group user/Alexander Medvednikov (medvednikov)
[access "refs/heads/*"]
	read = group user/Alexander Medvednikov (medvednikov)
	create = group user/Alexander Medvednikov (medvednikov)
	push = +force group user/Alexander Medvednikov (medvednikov)
	pushMerge = group user/Alexander Medvednikov (medvednikov)
[access "refs/tags/*"]
	push = group user/Alexander Medvednikov (medvednikov)
	push = +force group user/Alexander Medvednikov (medvednikov)
